<header>
    <img src = IMG/santahat.png>
    <div class = clicked> Hem </div>
    <div class = fullscreen>
    <a href="page1.html" class = link class = fullscreen> Historia </div>
    </div>
</header>

<i id = "hamborgare" class="material-icons" onclick = "doStuff()">
        menu
    </i>
        <menu>
            <div class = clicked>
                <a href="index.html"> Hem </a>
            </div>
    
            <div class = link> 
                <a href="page1.html"> Historia  </a>
            </div>
        </menu>
<main>
    <h1>
        Julhattar
    </h1>
    <div class = wall> </div>
    <div class = banner>
        <img src = "IMG/christmas.jpg">
    </div>
    <div class = paragraf>
        <h2> Intro </h2>
        <p> 
            Julhattar är de mest fantastiska hattarna som någonsin skapats; det mest otroliga objekt som människan någonsin försökt sätta på sitt huvud. Det är endast genom studie av dessa gudomliga artifakter som mänskligheten kan stiga upp ur vår nuvarande, värdelösa existens.
            På denna sida kan du ta första steget genom att lära dig lite rolig fakta. Ex nihilo nihol fit.
        </p>
    </div>
</main>

