
<i id = "hamborgare" class="material-icons" onclick = "doStuff()">
        menu
    </i>
        <menu>
            <div class = link>
                <a href="index.html"> Hem </a>
            </div>
    
            <div class = clicked> 
                <a href="page1.html"> Historia  </a>
            </div>
        </menu>

<header> 
    <img src = IMG/santahat.png>
    <div class = fullscreen>
    <a href="index.html" class = link class = fullscreen> Hem </a>
    </div>
    <div class = clicked>
        <a> Historia </a>
    </div>
</header>
<main>
    <h1>
        Hattens historia
    </h1>
    <div class = wall> </div>
    <div class = banner>
        <img src = "IMG/saintnick.jpg">
        <a> År 65.000.000 f.kr. </a>
        <a> År 10.000 f.kr. </a>
        <a> År 0 </a>
        <a> År 270 ad. </a>
        <a> År 2019 ad. </a>
        <a> År 2057 ad. </a>
    </div>
    
    <div class = wall> </div>

    <div class = paragraf>
        <h2> År 65.000.000 f.kr </h2>
        <p> För ungefär 65 miljoner år sedan anlände de första julhattarna på jorden. Det är än idag inte säkert vart de kom ifrån, men troligast är en asteroid från ett parallelt universum. Kraften från dessa hatter destabiliserade jordens kärna och ledde därmed till att mycket av det dåvarande livet dog ut. Julhattarna förlorade sedan långsamt sina krafter och det skulle ta lång tid innan de kunde användas igen.
        </p>
        <h2> År 10.000 f.kr </h2>
        <p> För lite mer än 10 tusen år sedan hittades hattarna av en ny art, Homo Sapiens, som hade tillräckligt hög intelligens för att återupväcka hattarnas primala kraft. Detta gjordes med vishet, för att bygga istället för att förstöra. Hattarna användes för att skapa en jul-anda så stark att hela jordens klimat blev varmare. Nu var istiden över och människans tidsålder kunde börja. 
        </p>
        <h2> År 0 </h2>
        <p> Vår tidsräkning börjar för 2019 år sedan. Detta är eftersom att man först för 2019 år sedan började fira jul-hattens existens med det som idag kallas jul.
        </p>
        <h2> År 270 a.d </h2>
        <p> År 270 använde Sankt Nikolaus julhattarnas kraft för att ge glädje åt de fattiga. Det var först då som vanligt folk insåg hur viktiga julhattar är.
        </p>
    
        <h2> År 2019 a.d </h2>
        <p> År 2019 skapades den första faktuellt korrekta sidan om julhattar. Utan denna sida hade världen kanske aldrig vetat hur viktigt det är att alla röda hattar har en liten vit, fluffig boll som kan svänga omkring.
        </p>

    </div>
    <div class = wall> </div>
</main>

